---
import AboutImage from '../assets/about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Me"
	pubDate={new Date('April 21 2026')}
	heroImage={AboutImage}
>
	<p>
		Coding, travel, food, music, books, yoga, communities ♡
	</p>

</Layout>
